USE [master]
GO
/****** Object:  Database [WebNovelasDB]    Script Date: 11-11-2025 21:37:32 ******/
CREATE DATABASE [WebNovelasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebNovelasDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebNovelasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebNovelasDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebNovelasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebNovelasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebNovelasDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Capitulos]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capitulos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NovelaId] [int] NOT NULL,
	[NumeroCapitulo] [int] NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[Contenido] [varchar](max) NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[Palabras] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Capitulos_Novela_Numero] UNIQUE NONCLUSTERED 
(
	[NovelaId] ASC,
	[NumeroCapitulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CapituloId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Contenido] [varchar](1000) NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiquetas]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiquetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaNovelas]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaNovelas](
	[ListaId] [int] NOT NULL,
	[NovelaId] [int] NOT NULL,
	[FechaAgregado] [datetime] NOT NULL,
 CONSTRAINT [PK_ListaNovelas] PRIMARY KEY CLUSTERED 
(
	[ListaId] ASC,
	[NovelaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listas]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NovelaEtiquetas]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NovelaEtiquetas](
	[NovelaId] [int] NOT NULL,
	[EtiquetaId] [int] NOT NULL,
 CONSTRAINT [PK_NovelaEtiquetas] PRIMARY KEY CLUSTERED 
(
	[NovelaId] ASC,
	[EtiquetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Novelas]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Novelas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[Sinopsis] [varchar](max) NULL,
	[PortadaUrl] [varchar](255) NULL,
	[Estado] [varchar](50) NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[AutorId] [int] NOT NULL,
	[PalabrasTotales] [int] NOT NULL,
	[Genero] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reseñas]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reseñas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NovelaId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Puntuacion] [tinyint] NOT NULL,
	[Comentario] [varchar](1000) NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Resenas_Novela_Usuario] UNIQUE NONCLUSTERED 
(
	[NovelaId] ASC,
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimientos]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimientos](
	[UsuarioId] [int] NOT NULL,
	[NovelaId] [int] NOT NULL,
	[UltimoCapituloLeidoId] [int] NULL,
	[FechaUltimaLectura] [datetime] NOT NULL,
 CONSTRAINT [PK_Seguimientos] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[NovelaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFollows]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFollows](
	[IdSeguidor] [int] NOT NULL,
	[IdSeguido] [int] NOT NULL,
	[FechaSeguimiento] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeguidor] ASC,
	[IdSeguido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11-11-2025 21:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](100) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[RolId] [int] NOT NULL,
	[Bio] [varchar](500) NULL,
	[AvatarUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Capitulos_NovelaId]    Script Date: 11-11-2025 21:37:33 ******/
CREATE NONCLUSTERED INDEX [IX_Capitulos_NovelaId] ON [dbo].[Capitulos]
(
	[NovelaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comentarios_CapituloId]    Script Date: 11-11-2025 21:37:33 ******/
CREATE NONCLUSTERED INDEX [IX_Comentarios_CapituloId] ON [dbo].[Comentarios]
(
	[CapituloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comentarios_UsuarioId]    Script Date: 11-11-2025 21:37:33 ******/
CREATE NONCLUSTERED INDEX [IX_Comentarios_UsuarioId] ON [dbo].[Comentarios]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListaNovelas_ListaId]    Script Date: 11-11-2025 21:37:33 ******/
CREATE NONCLUSTERED INDEX [IX_ListaNovelas_ListaId] ON [dbo].[ListaNovelas]
(
	[ListaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Listas_UsuarioId]    Script Date: 11-11-2025 21:37:33 ******/
CREATE NONCLUSTERED INDEX [IX_Listas_UsuarioId] ON [dbo].[Listas]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NovelaEtiquetas_NovelaId]    Script Date: 11-11-2025 21:37:33 ******/
CREATE NONCLUSTERED INDEX [IX_NovelaEtiquetas_NovelaId] ON [dbo].[NovelaEtiquetas]
(
	[NovelaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Novelas_AutorId]    Script Date: 11-11-2025 21:37:33 ******/
CREATE NONCLUSTERED INDEX [IX_Novelas_AutorId] ON [dbo].[Novelas]
(
	[AutorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Resenas_NovelaId]    Script Date: 11-11-2025 21:37:33 ******/
CREATE NONCLUSTERED INDEX [IX_Resenas_NovelaId] ON [dbo].[Reseñas]
(
	[NovelaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Capitulos] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[Capitulos] ADD  DEFAULT ((0)) FOR [Palabras]
GO
ALTER TABLE [dbo].[Comentarios] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[ListaNovelas] ADD  DEFAULT (getdate()) FOR [FechaAgregado]
GO
ALTER TABLE [dbo].[Listas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Novelas] ADD  DEFAULT ('En curso') FOR [Estado]
GO
ALTER TABLE [dbo].[Novelas] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[Novelas] ADD  DEFAULT ((0)) FOR [PalabrasTotales]
GO
ALTER TABLE [dbo].[Reseñas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Seguimientos] ADD  DEFAULT (getdate()) FOR [FechaUltimaLectura]
GO
ALTER TABLE [dbo].[UserFollows] ADD  DEFAULT (getdate()) FOR [FechaSeguimiento]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Capitulos]  WITH CHECK ADD  CONSTRAINT [FK_Capitulos_Novelas] FOREIGN KEY([NovelaId])
REFERENCES [dbo].[Novelas] ([Id])
GO
ALTER TABLE [dbo].[Capitulos] CHECK CONSTRAINT [FK_Capitulos_Novelas]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Capitulos] FOREIGN KEY([CapituloId])
REFERENCES [dbo].[Capitulos] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Capitulos]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Usuarios]
GO
ALTER TABLE [dbo].[ListaNovelas]  WITH CHECK ADD  CONSTRAINT [FK_ListaNovelas_Listas] FOREIGN KEY([ListaId])
REFERENCES [dbo].[Listas] ([Id])
GO
ALTER TABLE [dbo].[ListaNovelas] CHECK CONSTRAINT [FK_ListaNovelas_Listas]
GO
ALTER TABLE [dbo].[ListaNovelas]  WITH CHECK ADD  CONSTRAINT [FK_ListaNovelas_Novelas] FOREIGN KEY([NovelaId])
REFERENCES [dbo].[Novelas] ([Id])
GO
ALTER TABLE [dbo].[ListaNovelas] CHECK CONSTRAINT [FK_ListaNovelas_Novelas]
GO
ALTER TABLE [dbo].[Listas]  WITH CHECK ADD  CONSTRAINT [FK_Listas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Listas] CHECK CONSTRAINT [FK_Listas_Usuarios]
GO
ALTER TABLE [dbo].[NovelaEtiquetas]  WITH CHECK ADD  CONSTRAINT [FK_NovelaEtiquetas_Etiquetas] FOREIGN KEY([EtiquetaId])
REFERENCES [dbo].[Etiquetas] ([Id])
GO
ALTER TABLE [dbo].[NovelaEtiquetas] CHECK CONSTRAINT [FK_NovelaEtiquetas_Etiquetas]
GO
ALTER TABLE [dbo].[NovelaEtiquetas]  WITH CHECK ADD  CONSTRAINT [FK_NovelaEtiquetas_Novelas] FOREIGN KEY([NovelaId])
REFERENCES [dbo].[Novelas] ([Id])
GO
ALTER TABLE [dbo].[NovelaEtiquetas] CHECK CONSTRAINT [FK_NovelaEtiquetas_Novelas]
GO
ALTER TABLE [dbo].[Novelas]  WITH CHECK ADD  CONSTRAINT [FK_Novelas_Usuarios] FOREIGN KEY([AutorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Novelas] CHECK CONSTRAINT [FK_Novelas_Usuarios]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Resenas_Novelas] FOREIGN KEY([NovelaId])
REFERENCES [dbo].[Novelas] ([Id])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Resenas_Novelas]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Resenas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Resenas_Usuarios]
GO
ALTER TABLE [dbo].[Seguimientos]  WITH CHECK ADD  CONSTRAINT [FK_Seguimientos_Capitulos] FOREIGN KEY([UltimoCapituloLeidoId])
REFERENCES [dbo].[Capitulos] ([Id])
GO
ALTER TABLE [dbo].[Seguimientos] CHECK CONSTRAINT [FK_Seguimientos_Capitulos]
GO
ALTER TABLE [dbo].[Seguimientos]  WITH CHECK ADD  CONSTRAINT [FK_Seguimientos_Novelas] FOREIGN KEY([NovelaId])
REFERENCES [dbo].[Novelas] ([Id])
GO
ALTER TABLE [dbo].[Seguimientos] CHECK CONSTRAINT [FK_Seguimientos_Novelas]
GO
ALTER TABLE [dbo].[Seguimientos]  WITH CHECK ADD  CONSTRAINT [FK_Seguimientos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Seguimientos] CHECK CONSTRAINT [FK_Seguimientos_Usuarios]
GO
ALTER TABLE [dbo].[UserFollows]  WITH CHECK ADD  CONSTRAINT [FK_UserFollows_Seguido] FOREIGN KEY([IdSeguido])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UserFollows] CHECK CONSTRAINT [FK_UserFollows_Seguido]
GO
ALTER TABLE [dbo].[UserFollows]  WITH CHECK ADD  CONSTRAINT [FK_UserFollows_Seguidor] FOREIGN KEY([IdSeguidor])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UserFollows] CHECK CONSTRAINT [FK_UserFollows_Seguidor]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD CHECK  (([Puntuacion]>=(1) AND [Puntuacion]<=(5)))
GO
ALTER TABLE [dbo].[UserFollows]  WITH CHECK ADD  CONSTRAINT [CHK_NoAutoFollow] CHECK  (([IdSeguidor]<>[IdSeguido]))
GO
ALTER TABLE [dbo].[UserFollows] CHECK CONSTRAINT [CHK_NoAutoFollow]
GO
USE [master]
GO
